// Colors

$tangerine:					#FECC00;
$carrot:					#FB8B1B;
$sapphire:					#15305D;
$currant:					#1D0B31;
$toledo:					#40262F;
$pearl:						#E7E4C8;


$black:						#000;
$white:						#fff;
$platinum:					#E5E5E5;

// Typography

$font-sans: "Montserrat", sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-icons: 'socicon';
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

// Mobile Variables for Neat

$gw-column: em(69px);          // Column Width
$gw-gutter: em(12px);           // Gutter Width