.site-footer {
	@include rem(padding, 50px 0);

	background: -webkit-linear-gradient(180deg, #00d2ff 10%, #2797E2 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(180deg, #00d2ff 10%, #2797E2 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(180deg, #00d2ff 10%, #2797E2 90%); /* IE10 */
	background:      -o-linear-gradient(180deg, #00d2ff 10%, #2797E2 90%); /* Opera 11.10+ */
	background:         linear-gradient(180deg, #00d2ff 10%, #2797E2 90%); /* W3C */

}